<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Data Profiling{% block title %}{% endblock title %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
</head>
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">

<div>
    {% block content %} {% endblock content %}
</div>


</body>
</html>
